.card {
  margin: 0;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  &_img {
    width: 300px;
    border-radius: 10px 10px 0 0;
    img {
      width: 100%;
      height: 425px;
      border-radius: 10px 10px 0 0;
    }
  }
  &_descr {
    background: #000000;
    color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    &_title {
      height: 50px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      text-align: left;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    &_details {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      margin-bottom: 10px;
      color: #e3e3e3;
    }
    &_stars {
      margin-bottom: 10px;
    }
    &_text {
      p {
        font-family: "Inter", sans-serif;
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
      }
    }
    &_link {
      font-family: "Inter", sans-serif;
      text-decoration: none;
      font-size: 14px;
      color: #ffda00;
      &:hover {
        color: #ffda00;
      }
    }
    &_favorite {
      margin: 20px auto 0 auto;
      border: 2px solid #ffda00;
      border-radius: 5px;
      width: fit-content;
      padding: 5px 10px;
      font-family: "Inter", sans-serif;
      font-size: 12px;
      color: #ffda00;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: 0.5s ease all;
      &:hover {
        color: black;
        background-color: #ffda00;
      }
    }
  }
}
