.arrow_prev {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(50%, 50%);
  transition: 0.5s ease all;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}
.arrow_next {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  transition: 0.5s ease all;
  &:hover {
    scale: 1.1;
  }
}
.swiper {
  height: 77vh;
}
.swiper-wrapper {
  padding-left: 40px;
}

.swiper-hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.swiper-show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
