.movie_info {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  height: 650px;
  &_img {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 1px rgba(0, 0, 0, 0.55);
  }
}

.btn_back {
  background-color: transparent;
  border: x solid #dbdbdb;
  border-radius: 0.375em;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 5px 30px;
  position: relative;
  text-align: center;
}

.btn_back:active {
  border-color: #ffda00;
  outline: 0;
}

.btn_back:hover {
  border-color: #ffda00;
}

.btn_back:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}
