@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.header {
  margin: 20px 0 30px 0;
  text-align: center;
  h1 {
    color: mix(#ffda00, #fff, 70%);
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 10px;
    user-select: none;
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, black, 94%),
      0.005em 0.005em 0 mix(#fff, black, 10%),
      0.01em 0.01em 0 mix(#fff, black, 12%),
      0.015em 0.015em mix(#fff, black, 14%),
      0.02em 0.02em 0 mix(#fff, black, 16%),
      0.025em 0.025em 0 mix(#fff, black, 18%),
      0.03em 0.03em 0 mix(#fff, black, 10%),
      0.035em 0.035em 0 mix(#fff, black, 12%);
  }
}
